{
  "@fsw-engine-api-key": "<your_local_key_here>",
  "@fsw-unsplash-access-key": "<your_local_key_here>",
  "@fsw-unsplash-secret-key": "<your_local_key_here>",
  "@fsw-darksky-api-key": "<your_local_key_here>"
}
